# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage
.eslintcache
.changelog.json
apps/**/version.json
.DS_Store
.Thumbs.db
.idea/
node_modules
.snowpack
.vscode/

**/release/app/dist
**/release/dist
**/release/build
**/build
**/dist
**/dev-dist
**/lib
**/.bin/dll

*.bdic
.idea
npm-debug.log.*
*.css.d.ts
*.sass.d.ts
*.scss.d.ts


.vscode/

# testing
**/storybook-static
# sync style for storybook
**/.storybook/index.css

# generated network call from swagger 
# **/generated

# swagger jsonpatch result
**/swaggers/patched

# Cache folders.
.cache/

# Environment files.
.env

# docs/

# currently accelbyte doesn't accept external contribution
./CONTRIBUTING.md

# Yarn
.yarn/*
.yarn/
# Disable cache, mostly because of CI pushes to the Git and in CI we can't use global cache as it will result in this error:
# Error: EXDEV: cross-device link not permitted. Further reference: https://accelbyte.atlassian.net/browse/CWA-3499?focusedCommentId=537067.
.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# tsup
metafile-*.json

# CI artifacts. 
.variables
.build_codegen

# yalc
.yalc
yalc.lock
**/yalc.lock