{
  "host": "demo.accelbyte.io",
  "info": {
    "contact": {
      "email": "engineering@accelbyte.io",
      "name": "Engineering Team at AccelByte",
      "url": "https://accelbyte.io"
    },
    "description": "Justice BuildInfo Service",
    "title": "justice-buildinfo-service",
    "version": "3.28.16"
  },
  "schemes": ["https"],
  "tags": [
    {
      "name": "Caching"
    },
    {
      "name": "DLC"
    },
    {
      "name": "DRM"
    },
    {
      "name": "Downloader"
    },
    {
      "name": "GDPR"
    },
    {
      "name": "Multipart Uploader"
    },
    {
      "name": "Release Note"
    },
    {
      "name": "Uploader V1"
    },
    {
      "name": "Uploader V2"
    },
    {
      "name": "Uploader V3"
    },
    {
      "name": "Utility"
    }
  ],
  "externalDocs": {
    "description": "API Docs",
    "url": "https://development.accelbyte.io/buildinfo"
  },
  "securityDefinitions": {
    "HasPermission": {
      "authorizationUrl": "https://dummy.oauth.net/auth",
      "flow": "accessCode",
      "scopes": {
        "ADMIN:NAMESPACE:{namespace}:BUILDINFO [CREATE]": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [CREATE]",
        "ADMIN:NAMESPACE:{namespace}:BUILDINFO [DELETE]": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [DELETE]"
      },
      "tokenUrl": "https://dumy.oauth.net/token",
      "type": "oauth2"
    },
    "HasScope": {
      "authorizationUrl": "https://dummy.oauth.net/auth",
      "flow": "accessCode",
      "scopes": {},
      "tokenUrl": "https://dumy.oauth.net/token",
      "type": "oauth2"
    },
    "authorization": {
      "in": "header",
      "name": "Authorization",
      "type": "apiKey"
    }
  },
  "swagger": "2.0",
  "paths": {
    "/buildinfo/admin/namespaces/{namespace}/blocks/multipart": {
      "post": {
        "consumes": ["application/json"],
        "description": "This API is used to \u0026lt;b\u0026gt;start multipart file upload\u0026lt;/b\u0026gt;. The service will returns the list of presigned urls that will be used to upload the Parts.\u0026lt;br/\u0026gt;Make sure to upload the Parts in-order based on the presigned urls order.The size of each Part should above or equals to 5MB, except the last one.",
        "operationId": "startMultipartFileUpload",
        "parameters": [
          {
            "description": "File Info",
            "in": "body",
            "name": "fileInfo",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartMultipartUploadRequest"
            }
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/MultipartUploadSummary"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12173\u003c/td\u003e\u003ctd\u003eUpload with hash [{hash}] already complete\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Start Multipart File Upload",
        "tags": ["Multipart Uploader"],
        "x-errorCodes": {
          "12173": "Upload with hash [{hash}] already complete"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [CREATE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/blocks/multipart/{hash}": {
      "delete": {
        "description": "This API is used to \u0026lt;b\u0026gt;abort multipart file upload\u0026lt;/b\u0026gt;. The aborted multipart file upload cannot be continued again.",
        "operationId": "abortMultipartFileUpload",
        "parameters": [
          {
            "description": "Hash",
            "in": "path",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BlockManifest"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12142\u003c/td\u003e\u003ctd\u003eBlock with hash [{hash}] not found\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12941\u003c/td\u003e\u003ctd\u003eMultipart uploadId for hash [{}] not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12173\u003c/td\u003e\u003ctd\u003eUpload with hash [{hash}] already complete\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Abort Multipart File Upload",
        "tags": ["Multipart Uploader"],
        "x-errorCodes": {
          "12142": "Block with hash [{hash}] not found",
          "12173": "Upload with hash [{hash}] already complete",
          "12941": "Multipart uploadId for hash [{}] not found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [DELETE]"
        }
      },
      "patch": {
        "consumes": ["application/json"],
        "description": "This API is used to \u0026lt;b\u0026gt;commit multipart file upload\u0026lt;/b\u0026gt; to signal the upload completion.\u0026lt;br/\u0026gt;The request should contains list of PartNumber along with its ETag value. The list should be in-order.",
        "operationId": "commitMultipartFileUpload",
        "parameters": [
          {
            "description": "Parts",
            "in": "body",
            "name": "parts",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommitMultipartUploadRequest"
            }
          },
          {
            "description": "Hash",
            "in": "path",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BlockManifest"
            }
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12921\u003c/td\u003e\u003ctd\u003eInvalid multipart upload parameters: [{}]\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12142\u003c/td\u003e\u003ctd\u003eBlock with hash [{hash}] not found\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12941\u003c/td\u003e\u003ctd\u003eMultipart uploadId for hash [{}] not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12173\u003c/td\u003e\u003ctd\u003eUpload with hash [{hash}] already complete\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Commit Multipart File Upload",
        "tags": ["Multipart Uploader"],
        "x-errorCodes": {
          "12142": "Block with hash [{hash}] not found",
          "12173": "Upload with hash [{hash}] already complete",
          "12921": "Invalid multipart upload parameters: [{}]",
          "12941": "Multipart uploadId for hash [{}] not found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [UPDATE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/builddeletion/{buildId}/cancel": {
      "delete": {
        "description": "This API is used to cancel build deletion.\u0026lt;p\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Required permission\u0026lt;/i\u0026gt;: resource=\u0026#34;ADMIN:NAMESPACE:{namespace}:BUILDINFO\u0026#34;, action=8 (DELETE)\u0026lt;/li\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: none\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "cancelBuildDeletion",
        "parameters": [
          {
            "description": "Build ID",
            "in": "path",
            "name": "buildId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "204": {
            "description": "Cancel successfully"
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12138\u003c/td\u003e\u003ctd\u003eBuild Deletion Invalid [{build}]\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12141\u003c/td\u003e\u003ctd\u003eBuild not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          },
          {
            "HasPermission": ["ADMIN:NAMESPACE:{namespace}:BUILDINFO [DELETE]"],
            "authorization": []
          }
        ],
        "summary": "Cancel Build Deletion",
        "tags": ["Uploader V1"],
        "x-errorCodes": {
          "12138": "Build Deletion Invalid [{build}]",
          "12141": "Build not found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [DELETE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/builddeletion/{buildId}/retry": {
      "put": {
        "description": "This API is used to retry build deletion.",
        "operationId": "retryBuildDeletion",
        "parameters": [
          {
            "description": "Build ID",
            "in": "path",
            "name": "buildId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12138\u003c/td\u003e\u003ctd\u003eBuild Deletion Invalid [{build}]\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12141\u003c/td\u003e\u003ctd\u003eBuild not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Retry Failed Build Deletion",
        "tags": ["Uploader V1"],
        "x-errorCodes": {
          "12138": "Build Deletion Invalid [{build}]",
          "12141": "Build not found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [UPDATE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/builds/byAppId": {
      "get": {
        "description": "This API is used to get basic build manifests. Only committed build will be retrieved.",
        "operationId": "getBuildByAppId",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Application Id",
            "in": "query",
            "name": "appId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/BuildIdVersion"
              },
              "type": "array"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12141\u003c/td\u003e\u003ctd\u003eBuild not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get committed builds by appId",
        "tags": ["Uploader V1"],
        "x-errorCodes": {
          "12141": "Build not found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [READ]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/builds/byNamespace": {
      "get": {
        "description": "This API is used to get basic build manifests. Only committed build will be retrieved.",
        "operationId": "getBuildByNamespace",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/BasicBuildManifest"
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get committed builds by namespace",
        "tags": ["Uploader V1"],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [READ]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/builds/{buildId}": {
      "delete": {
        "deprecated": true,
        "description": "This API is used to delete build manifest.",
        "operationId": "deleteBuildManifest",
        "parameters": [
          {
            "description": "Build ID",
            "in": "path",
            "name": "buildId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "204": {
            "description": "Delete successfully"
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12141\u003c/td\u003e\u003ctd\u003eBuild not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete Build",
        "tags": ["Uploader V1"],
        "x-errorCodes": {
          "12141": "Build not found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [DELETE]"
        }
      },
      "get": {
        "description": "This API is used to get build manifest.",
        "operationId": "getBuild",
        "parameters": [
          {
            "description": "Build ID",
            "in": "path",
            "name": "buildId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BuildManifest"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12141\u003c/td\u003e\u003ctd\u003eBuild not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get Build Manifest",
        "tags": ["Uploader V1"],
        "x-errorCodes": {
          "12141": "Build not found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [READ]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/builds/{buildId}/blocks/urls": {
      "post": {
        "consumes": ["application/json"],
        "description": "This API is used to Generate Download URLs for the requested blocks inside the specified buildId.\u0026lt;br/\u0026gt;The download URL generation may returns Signed URL or Public URL, depends on service configurations.",
        "operationId": "adminGenerateBlocksDownloadUrls",
        "parameters": [
          {
            "description": "Build ID of the blocks",
            "in": "path",
            "name": "buildId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/BlockDownloadUrlsRequest"
            }
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BlockDownloadUrls"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12149\u003c/td\u003e\u003ctd\u003eFile with uuid [{uuid}] not found in sourceBuildId [{buildId}]\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "422": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20002\u003c/td\u003e\u003ctd\u003eValidation error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Generate Block Download URLs",
        "tags": ["Downloader"],
        "x-errorCodes": {
          "12149": "File with uuid [{uuid}] not found in sourceBuildId [{buildId}]",
          "20002": "Validation error"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [READ]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/buildsdeletion/byAppId": {
      "get": {
        "description": "This API is used to get build deletion. Only deleted build will be retrieved.",
        "operationId": "getBuildDeletionByAppId",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Application Id",
            "in": "query",
            "name": "appId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Deletion Status",
            "format": "int32",
            "in": "query",
            "name": "deletionStatus",
            "required": false,
            "type": "integer",
            "x-example": "0 - Requested, 1 - In Progress, 2 - Deleted, 3 - Failed "
          },
          {
            "description": "Platform ID",
            "in": "query",
            "name": "platformId",
            "required": false,
            "type": "string",
            "x-example": "win32 win64 windows linux-amd64 darwin"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/BuildDeletionData"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12123\u003c/td\u003e\u003ctd\u003ePlatform id [{platformId}] is invalid\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get builds deletion by appId",
        "tags": ["Uploader V1"],
        "x-errorCodes": {
          "12123": "Platform id [{platformId}] is invalid"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [READ]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/cleanerConfigurations": {
      "get": {
        "description": "This API is used to retrieve grace period of buildinfo cleaner.\u0026lt;p\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: Buildinfo Grace Period Time\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "getBuildInfoCleanerConfiguration",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CleanerConfigObject"
            }
          }
        },
        "summary": "Get Buildinfo Cleaner Configurations",
        "tags": ["Utility"],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [READ]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/commitbuildmanifest": {
      "post": {
        "consumes": ["application/json"],
        "deprecated": true,
        "description": "This API is used to commit build manifest.",
        "operationId": "commitBuildManifest",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/BuildManifest"
            }
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12121\u003c/td\u003e\u003ctd\u003eBuild [{buildId}] is invalid! Blocks can't be empty\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12122\u003c/td\u003e\u003ctd\u003eBuild [{buildId}] can't be null\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12123\u003c/td\u003e\u003ctd\u003ePlatform id [{platformId}] is invalid\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12141\u003c/td\u003e\u003ctd\u003eBuild not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12171\u003c/td\u003e\u003ctd\u003eBuild [{buildId}] with appId [{appId}] and version [{version}] already committed\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "422": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20002\u003c/td\u003e\u003ctd\u003eValidation error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Commit Build Manifest",
        "tags": ["Uploader V1"],
        "x-errorCodes": {
          "12121": "Build [{buildId}] is invalid! Blocks can't be empty",
          "12122": "Build [{buildId}] can't be null",
          "12123": "Platform id [{platformId}] is invalid",
          "12141": "Build not found",
          "12171": "Build [{buildId}] with appId [{appId}] and version [{version}] already committed",
          "20002": "Validation error"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [UPDATE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/commitchunkupload/{hash}/{uuid}/{offset}": {
      "post": {
        "deprecated": true,
        "description": "This API is used to commit chunk that has been uploaded.",
        "operationId": "commitChunkUpload",
        "parameters": [
          {
            "description": "Hash",
            "in": "path",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Offset",
            "format": "int64",
            "in": "path",
            "name": "offset",
            "required": true,
            "type": "integer"
          },
          {
            "description": "UUID",
            "in": "path",
            "name": "uuid",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BlockManifest"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12142\u003c/td\u003e\u003ctd\u003eBlock with hash [{hash}] not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "\u003cs\u003eCommit Chunk Upload\u003c/s\u003e",
        "tags": ["Uploader V1"],
        "x-errorCodes": {
          "12142": "Block with hash [{hash}] not found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [UPDATE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/commitchunkupload/{hash}/{uuid}/{offset}/{blockSize}": {
      "post": {
        "deprecated": true,
        "description": "This API is used to commit chunk that has been uploaded.",
        "operationId": "commitChunkUploadWithSize",
        "parameters": [
          {
            "description": "Block Size",
            "format": "int64",
            "in": "path",
            "name": "blockSize",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Hash",
            "in": "path",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Offset",
            "format": "int64",
            "in": "path",
            "name": "offset",
            "required": true,
            "type": "integer"
          },
          {
            "description": "UUID",
            "in": "path",
            "name": "uuid",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BlockManifest"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12142\u003c/td\u003e\u003ctd\u003eBlock with hash [{hash}] not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Commit Chunk Upload",
        "tags": ["Uploader V1"],
        "x-errorCodes": {
          "12142": "Block with hash [{hash}] not found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [UPDATE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/configurations": {
      "get": {
        "description": "This API is used to get the BuildInfo configurations.\u0026lt;br/\u0026gt;\u0026lt;br/\u0026gt;\u0026lt;b\u0026gt;1. Entitlement Validation\u0026lt;/b\u0026gt;\u0026lt;br/\u0026gt;Entitlement Validation is utilized in download and update game/application flow.\u0026lt;br/\u0026gt;It will check whether the user is entitled for the game/application or not through Justice Entitlement Service.\u0026lt;br/\u0026gt;If user is entitled, it will process the request, otherwise the request will rejected.\u0026lt;br/\u0026gt;\u0026lt;br/\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: Configuration Info\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "getConfiguration",
        "parameters": [
          {
            "description": "namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ConfigurationInfo"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get Configurations",
        "tags": ["Utility"],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO:CONFIG [READ]"
        }
      },
      "patch": {
        "consumes": ["application/json"],
        "description": "This API is used to update the BuildInfo configurations.\u0026lt;br/\u0026gt;This API support update configuration based on given data. Single request can update single field or multi fields.\u0026lt;br/\u0026gt;\u0026lt;br/\u0026gt;\u0026lt;b\u0026gt;1. Entitlement Validation\u0026lt;/b\u0026gt;\u0026lt;br/\u0026gt;Entitlement Validation is utilized in download and update game/application flow.\u0026lt;br/\u0026gt;It will check whether the user is entitled for the game/application or not through Justice Entitlement Service.\u0026lt;br/\u0026gt;If user is entitled, it will process the request, otherwise the request will rejected.\u0026lt;br/\u0026gt;\u0026lt;br/\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: Configuration Info\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "updateConfiguration",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ConfigurationUpdate"
            }
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ConfigurationInfo"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Update Configurations",
        "tags": ["Utility"],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO:CONFIG [UPDATE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/diff/cache": {
      "post": {
        "consumes": ["application/json"],
        "description": "This API is used to save detailed diff cache. Only used by differ. Not to be used directly.",
        "operationId": "createCache",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateDiffCacheRequest"
            }
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Save Diff Cache",
        "tags": ["Caching"],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:DIFFCACHE [CREATE]"
        }
      },
      "put": {
        "consumes": ["application/json"],
        "description": "This API is used to mark that the diff caching is complete and diff summary file uploaded to s3. Only used by differ. Not to be used directly.",
        "operationId": "commitCache",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CommitDiffCacheRequest"
            }
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Diff Cache Completion",
        "tags": ["Caching"],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:DIFFCACHE [UPDATE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/diff/calculate": {
      "post": {
        "consumes": ["application/json"],
        "description": "This API is used to dispatch diff caching request.",
        "operationId": "cachingRequest",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CalculateDiffCacheRequest"
            }
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "202": {
            "description": "Successful operation"
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12180\u003c/td\u003e\u003ctd\u003eDiff cache result already exist\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Dispatch Diff Caching Request",
        "tags": ["Caching"],
        "x-errorCodes": {
          "12180": "Diff cache result already exist"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:DIFFCACHE [CREATE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/diff/calculate/bulk": {
      "post": {
        "consumes": ["application/json"],
        "description": "This API is used to bulk dispatch diff caching requests to differ instance.\u0026lt;br/\u0026gt;The processing order will follow the order of the array.\u0026lt;br/\u0026gt;The \u0026lt;b\u0026gt;priority\u0026lt;/b\u0026gt; flag means that request will be set as priority inside the queue and always served first even if there’s existing non-priority request(s) beforehand.\u0026lt;br/\u0026gt;\u0026lt;br/\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;Request is skipped if the source and destination versions is same\u0026lt;/li\u0026gt;\u0026lt;li\u0026gt;Request is skipped if the source version is not found\u0026lt;/li\u0026gt;\u0026lt;li\u0026gt;Request is skipped if the destination version is not found\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "bulkCachingRequests",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/BulkCalculateDiffCacheRequest"
            }
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "202": {
            "description": "Request accepted"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Bulk Dispatch Diff Caching Requests",
        "tags": ["Caching"],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:DIFFCACHE [CREATE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/diff/send": {
      "post": {
        "consumes": ["application/json"],
        "description": "This API is used to send diff request to MQ.\u0026lt;p\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: diff status\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "sendDiffRequestMessage",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DiffPatchRequest"
            }
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Trigger diff request message",
        "tags": ["Uploader V3"],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [CREATE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/dlc/link": {
      "put": {
        "consumes": ["application/json"],
        "description": "This API is used to link DLC version(s) against the game version.\u0026lt;p\u0026gt;",
        "operationId": "linkDependencies",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateDependencyLinkRequest"
            }
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12141\u003c/td\u003e\u003ctd\u003eBuild not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Link DLC",
        "tags": ["DLC"],
        "x-errorCodes": {
          "12141": "Build not found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [UPDATE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/dlc/{buildId}/link": {
      "get": {
        "description": "This API is used to retrieve DLC versions against the game version.",
        "operationId": "retrieveDependencies",
        "parameters": [
          {
            "description": "Build Id",
            "in": "path",
            "name": "buildId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RetrieveDependencyLinkResponse"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12157\u003c/td\u003e\u003ctd\u003eDependency link not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Retrieve DLC Link",
        "tags": ["DLC"],
        "x-errorCodes": {
          "12157": "Dependency link not found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [READ]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/gdpr/remove": {
      "delete": {
        "description": "This API is used to remove all stored data that relates to supplied machineId.\u0026lt;p\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: list of data related to machineId\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "gdprRemovePii",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "User Id",
            "in": "query",
            "name": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BuildInfoPII"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12146\u003c/td\u003e\u003ctd\u003eRecord with userId [{userId}] not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "GDPR Compliant - Delete",
        "tags": ["GDPR"],
        "x-errorCodes": {
          "12146": "Record with userId [{userId}] not found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [DELETE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/gdpr/retrieve": {
      "get": {
        "description": "This API is used to get all stored data that relates to supplied machineId.\u0026lt;p\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: list of data related to machineId\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "gdprRetrievePii",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "User Id",
            "in": "query",
            "name": "userId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BuildInfoPII"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12146\u003c/td\u003e\u003ctd\u003eRecord with userId [{userId}] not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "GDPR Compliant - Retrieve",
        "tags": ["GDPR"],
        "x-errorCodes": {
          "12146": "Record with userId [{userId}] not found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [READ]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/listenDiffStatus": {
      "post": {
        "consumes": ["application/json"],
        "description": "This API is used to listen diff status.\u0026lt;p\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: diff status\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "listenDiffStatus",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DiffPatchRequest"
            }
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FileDiffingStatus"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12151\u003c/td\u003e\u003ctd\u003eMessage queue not found for source build [{sourceBuildId}] to [{destinationBuildId}]\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Listen diff status",
        "tags": ["Uploader V3"],
        "x-errorCodes": {
          "12151": "Message queue not found for source build [{sourceBuildId}] to [{destinationBuildId}]"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [READ]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/listenPatchStatus": {
      "post": {
        "consumes": ["application/json"],
        "description": "This API is used to listen patch status from source file and missing bytes file to destination file.\u0026lt;p\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: diff status\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "listenPatchStatus",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DiffPatchRequest"
            }
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FileDiffingStatus"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12151\u003c/td\u003e\u003ctd\u003eMessage queue not found for source build [{sourceBuildId}] to [{destinationBuildId}]\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Listen patch status",
        "tags": ["Uploader V3"],
        "x-errorCodes": {
          "12151": "Message queue not found for source build [{sourceBuildId}] to [{destinationBuildId}]"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [READ]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/patch/send": {
      "post": {
        "consumes": ["application/json"],
        "description": "This API is used to send patch request to MQ.\u0026lt;p\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: diff status\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "sendPatchRequestMessage",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DiffPatchRequest"
            }
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Trigger patch request message",
        "tags": ["Uploader V3"],
        "x-errorCodes": {},
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [CREATE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/ping/differ": {
      "get": {
        "description": "This API is used to manually checks the readiness of differ.\u0026lt;p\u0026gt;Other detail info: \u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;\u0026lt;i\u0026gt;Returns\u0026lt;/i\u0026gt;: ping result\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "pingDiffer",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PingResultResponse"
            }
          }
        },
        "summary": "Ping Differ",
        "tags": ["Utility"],
        "x-errorCodes": {}
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/releasenote/manifest/get/{appId}/{platformId}": {
      "get": {
        "consumes": ["application/json"],
        "description": "This API is used to get release note manifest.",
        "operationId": "getReleaseNote",
        "parameters": [
          {
            "description": "App Id",
            "in": "path",
            "name": "appId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Platform Id",
            "in": "path",
            "name": "platformId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Version",
            "in": "query",
            "name": "version",
            "required": false,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ReleaseNoteDTO"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12154\u003c/td\u003e\u003ctd\u003eRelease note not found for namespace [{namespace}], appId [{appId}], platformId [{platformId}], version [{version}]\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get release note manifest",
        "tags": ["Release Note"],
        "x-errorCodes": {
          "12154": "Release note not found for namespace [{namespace}], appId [{appId}], platformId [{platformId}], version [{version}]"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [READ]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/releasenote/manifest/save/{uploadMode}": {
      "post": {
        "consumes": ["application/json"],
        "description": "This API is used to save release note manifest.\u0026lt;p\u0026gt;It will update the existing release note manifest if exist (based on namespace, appId, platformId and version).\u0026lt;br/\u0026gt;Otherwise, it will create a new release note manifest.\u0026lt;br/\u0026gt;\u0026lt;br/\u0026gt;\u0026lt;b\u0026gt;Upload Mode for existing release note manifest:\u0026lt;/b\u0026gt;\u0026lt;br/\u0026gt;0 = update, will merge the old localizations with the new localizations.\u0026lt;br/\u0026gt;1 = replace, will replace the old localizations with the new localizations.",
        "operationId": "saveReleaseNote",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Upload Mode (0: update, 1: replace)",
            "in": "path",
            "name": "uploadMode",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ReleaseNoteManifest"
            }
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12142\u003c/td\u003e\u003ctd\u003eBlock with hash [{hash}] not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12176\u003c/td\u003e\u003ctd\u003eUpload [{type}] with hash [{hash}] hasn't yet committed\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "422": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e20002\u003c/td\u003e\u003ctd\u003eValidation error\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ValidationErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Save release note manifest",
        "tags": ["Release Note"],
        "x-errorCodes": {
          "12142": "Block with hash [{hash}] not found",
          "12176": "Upload [{type}] with hash [{hash}] hasn't yet committed",
          "20002": "Validation error"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [CREATE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/releasenote/upload/commit/{hash}": {
      "patch": {
        "description": "This API is used to commit release note file that has been uploaded to signal completion.",
        "operationId": "commitReleaseNoteUpload",
        "parameters": [
          {
            "description": "Hash",
            "in": "path",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BlockManifest"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12142\u003c/td\u003e\u003ctd\u003eBlock with hash [{hash}] not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12173\u003c/td\u003e\u003ctd\u003eUpload with hash [{hash}] already complete\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Commit Release Note Upload",
        "tags": ["Release Note"],
        "x-errorCodes": {
          "12142": "Block with hash [{hash}] not found",
          "12173": "Upload with hash [{hash}] already complete"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [UPDATE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/releasenote/upload/start/{uploaderId}": {
      "post": {
        "consumes": ["application/json"],
        "description": "This API is used to start release note upload and get the presigned URL.",
        "operationId": "startReleaseNoteUpload",
        "parameters": [
          {
            "description": "File Info",
            "in": "body",
            "name": "fileInfo",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BinaryUpload"
            }
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Uploader Id",
            "in": "path",
            "name": "uploaderId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BlockManifest"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12173\u003c/td\u003e\u003ctd\u003eUpload with hash [{hash}] already complete\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Start Release Note Upload",
        "tags": ["Release Note"],
        "x-errorCodes": {
          "12173": "Upload with hash [{hash}] already complete"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [CREATE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/retrievechunkbyhash/{hash}": {
      "get": {
        "description": "This API is used to retrieve chunk by hash.",
        "operationId": "retrieveChunkByHash",
        "parameters": [
          {
            "description": "Hash",
            "in": "path",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BlockData"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12142\u003c/td\u003e\u003ctd\u003eBlock with hash [{hash}] not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Retrieve Chunk by Hash",
        "tags": ["Uploader V1"],
        "x-errorCodes": {
          "12142": "Block with hash [{hash}] not found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [READ]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/setcurrentbuild/{appId}/{version}": {
      "put": {
        "deprecated": true,
        "description": "This API is used to set current build as release version.",
        "operationId": "setCurrentBuild",
        "parameters": [
          {
            "description": "Application ID",
            "in": "path",
            "name": "appId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Version",
            "in": "path",
            "name": "version",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12141\u003c/td\u003e\u003ctd\u003eBuild not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12172\u003c/td\u003e\u003ctd\u003eBuild [{buildId}] is not committed yet\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Set Current Build",
        "tags": ["Uploader V1"],
        "x-errorCodes": {
          "12141": "Build not found",
          "12172": "Build [{buildId}] is not committed yet"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [UPDATE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/setcurrentbuild/{buildId}": {
      "put": {
        "description": "This API is used to set current build as release version.",
        "operationId": "setCurrentBuildByBuildId",
        "parameters": [
          {
            "description": "Build ID",
            "in": "path",
            "name": "buildId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "default": true,
            "description": "Is send latest game notification",
            "in": "query",
            "name": "sendNotification",
            "required": false,
            "type": "boolean",
            "x-omitempty": false
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12141\u003c/td\u003e\u003ctd\u003eBuild not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12172\u003c/td\u003e\u003ctd\u003eBuild [{buildId}] is not committed yet\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Set Current Build",
        "tags": ["Uploader V1"],
        "x-errorCodes": {
          "12141": "Build not found",
          "12172": "Build [{buildId}] is not committed yet"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [UPDATE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/startbuildupload/{appId}/{version}": {
      "post": {
        "deprecated": true,
        "description": "This API is used to start build upload.",
        "operationId": "startBuildUpload",
        "parameters": [
          {
            "description": "Application ID",
            "in": "path",
            "name": "appId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Version",
            "in": "path",
            "name": "version",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BuildIdManifest"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12171\u003c/td\u003e\u003ctd\u003eBuild [{buildId}] with appId [{appId}] and version [{version}] already committed\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Start Build Upload",
        "tags": ["Uploader V1"],
        "x-errorCodes": {
          "12171": "Build [{buildId}] with appId [{appId}] and version [{version}] already committed"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [CREATE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/startchunkupload": {
      "post": {
        "consumes": ["application/json"],
        "deprecated": true,
        "description": "This API is used to start chunk upload and retrieve upload url.",
        "operationId": "startChunkUpload",
        "parameters": [
          {
            "description": "Chunk Info",
            "in": "body",
            "name": "chunkInfo",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BinaryUpload"
            }
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UploadSummary"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12173\u003c/td\u003e\u003ctd\u003eUpload with hash [{hash}] already complete\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12174\u003c/td\u003e\u003ctd\u003eUpload with hash [{hash}] already started\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Start Chunk Upload",
        "tags": ["Uploader V1"],
        "x-errorCodes": {
          "12173": "Upload with hash [{hash}] already complete",
          "12174": "Upload with hash [{hash}] already started"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [CREATE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/v2/builds/byAppId": {
      "get": {
        "description": "This API is used to get basic build manifests. Only committed build will be retrieved.",
        "operationId": "getBuildByAppId_1",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "description": "Application ID",
            "in": "query",
            "name": "appId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Platform ID",
            "in": "query",
            "name": "platformId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/BuildIdVersion"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12123\u003c/td\u003e\u003ctd\u003ePlatform id [{platformId}] is invalid\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12141\u003c/td\u003e\u003ctd\u003eBuild not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get committed builds by appId (v2)",
        "tags": ["Uploader V2"],
        "x-errorCodes": {
          "12123": "Platform id [{platformId}] is invalid",
          "12141": "Build not found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [READ]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/v2/builds/{buildId}": {
      "delete": {
        "description": "This API is used to delete build manifest.",
        "operationId": "deleteBuildManifest_1",
        "parameters": [
          {
            "description": "Build ID",
            "in": "path",
            "name": "buildId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "204": {
            "description": "Delete successfully"
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12137\u003c/td\u003e\u003ctd\u003eThe Latest Build cannot be deleted [{}]\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12141\u003c/td\u003e\u003ctd\u003eBuild not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Delete Build v2",
        "tags": ["Uploader V2"],
        "x-errorCodes": {
          "12137": "The Latest Build cannot be deleted [{}]",
          "12141": "Build not found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [DELETE]"
        }
      },
      "get": {
        "description": "This API is used to get build manifest for build uploaded with BuildInfo v2.",
        "operationId": "getBuild_1",
        "parameters": [
          {
            "description": "Build ID",
            "in": "path",
            "name": "buildId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BuildManifest"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12141\u003c/td\u003e\u003ctd\u003eBuild not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Get Build Manifest v2",
        "tags": ["Uploader V2"],
        "x-errorCodes": {
          "12141": "Build not found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [READ]"
        }
      },
      "patch": {
        "consumes": ["application/json"],
        "description": "This API is used to edit build\u0026#39;s launchArgument.",
        "operationId": "updateBuildMetadata",
        "parameters": [
          {
            "description": "Build ID",
            "in": "path",
            "name": "buildId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/UpdateBuildMetadataRequest"
            }
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12141\u003c/td\u003e\u003ctd\u003eBuild not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Edit Launch Arguments",
        "tags": ["Uploader V2"],
        "x-errorCodes": {
          "12141": "Build not found"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [UPDATE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/v2/commitbuildmanifest": {
      "post": {
        "consumes": ["application/json"],
        "description": "This API is used to commit build manifest.",
        "operationId": "commitBuildManifest_1",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/BuildManifest"
            }
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12127\u003c/td\u003e\u003ctd\u003eInvalid endpoint, attempt to hit this endpoint with v1 behaviour\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12128\u003c/td\u003e\u003ctd\u003eZsync file from file with UUID [{uuid}] shouldn't empty\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12129\u003c/td\u003e\u003ctd\u003eFile [{filename}] with hash [{hash}] can't have empty uuid\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12141\u003c/td\u003e\u003ctd\u003eBuild not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12171\u003c/td\u003e\u003ctd\u003eBuild [{buildId}] with appId [{appId}] and version [{version}] already committed\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Commit Build Manifest (v2)",
        "tags": ["Uploader V2"],
        "x-errorCodes": {
          "12127": "Invalid endpoint, attempt to hit this endpoint with v1 behaviour",
          "12128": "Zsync file from file with UUID [{uuid}] shouldn't empty",
          "12129": "File [{filename}] with hash [{hash}] can't have empty uuid",
          "12141": "Build not found",
          "12171": "Build [{buildId}] with appId [{appId}] and version [{version}] already committed"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [UPDATE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/v2/commitdlcbuildmanifest": {
      "post": {
        "consumes": ["application/json"],
        "description": "This API is used to commit build manifest.",
        "operationId": "commitDLCBuildManifest",
        "parameters": [
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/BuildManifest"
            }
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12127\u003c/td\u003e\u003ctd\u003eInvalid endpoint, attempt to hit this endpoint with v1 behaviour\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12128\u003c/td\u003e\u003ctd\u003eZsync file from file with UUID [{uuid}] shouldn't empty\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12129\u003c/td\u003e\u003ctd\u003eFile [{filename}] with hash [{hash}] can't have empty uuid\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12141\u003c/td\u003e\u003ctd\u003eBuild not found\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12155\u003c/td\u003e\u003ctd\u003eAssociated game with appId [{appId}] and platformId [{platformId}] not found for this DLC.\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12171\u003c/td\u003e\u003ctd\u003eBuild [{buildId}] with appId [{appId}] and version [{version}] already committed\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Commit DLC Build Manifest (v2)",
        "tags": ["Uploader V2"],
        "x-errorCodes": {
          "12127": "Invalid endpoint, attempt to hit this endpoint with v1 behaviour",
          "12128": "Zsync file from file with UUID [{uuid}] shouldn't empty",
          "12129": "File [{filename}] with hash [{hash}] can't have empty uuid",
          "12141": "Build not found",
          "12155": "Associated game with appId [{appId}] and platformId [{platformId}] not found for this DLC.",
          "12171": "Build [{buildId}] with appId [{appId}] and version [{version}] already committed"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [UPDATE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/v2/commitfileupload/{buildId}/{hash}": {
      "patch": {
        "description": "This API is used to commit file that has been uploaded to signal completion.",
        "operationId": "commitFileUpload",
        "parameters": [
          {
            "description": "Build ID",
            "in": "path",
            "name": "buildId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BlockManifest"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12142\u003c/td\u003e\u003ctd\u003eBlock with hash [{hash}] not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12173\u003c/td\u003e\u003ctd\u003eUpload with hash [{hash}] already complete\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Commit File Upload (v2)",
        "tags": ["Uploader V2"],
        "x-errorCodes": {
          "12142": "Block with hash [{hash}] not found",
          "12173": "Upload with hash [{hash}] already complete"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [UPDATE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/v2/commitzsyncfileupload/{buildId}/{hash}": {
      "patch": {
        "description": "This API is used to commit file that has been uploaded to signal completion",
        "operationId": "commitZsyncFileUpload",
        "parameters": [
          {
            "description": "Build ID",
            "in": "path",
            "name": "buildId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Hash",
            "in": "path",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BlockManifest"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12142\u003c/td\u003e\u003ctd\u003eBlock with hash [{hash}] not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12173\u003c/td\u003e\u003ctd\u003eUpload with hash [{hash}] already complete\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Commit ZsyncFile Upload (v2)",
        "tags": ["Uploader V2"],
        "x-errorCodes": {
          "12142": "Block with hash [{hash}] not found",
          "12173": "Upload with hash [{hash}] already complete"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [UPDATE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/v2/commitzsyncfileupload/{buildId}/{hash}/{blockSize}": {
      "patch": {
        "description": "This API is used to commit chunk that has been uploaded.\u0026lt;p\u0026gt;Previous API:\u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;/v2/startzsyncfileupload\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;Next API:\u0026lt;ul\u0026gt;\u0026lt;li\u0026gt;/v2/startfileupload/{uploaderId}\u0026lt;/li\u0026gt;\u0026lt;/ul\u0026gt;",
        "operationId": "commitZsyncFileUploadWithSize",
        "parameters": [
          {
            "description": "Block Size",
            "format": "int64",
            "in": "path",
            "name": "blockSize",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Build ID",
            "in": "path",
            "name": "buildId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Hash",
            "in": "path",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "Namespace",
            "in": "path",
            "name": "namespace",
            "required": true,
            "type": "string"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BlockManifest"
            }
          },
          "404": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12142\u003c/td\u003e\u003ctd\u003eBlock with hash [{hash}] not found\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          },
          "409": {
            "description": "\u003ctable\u003e\u003ctr\u003e\u003ctd\u003eErrorCode\u003c/td\u003e\u003ctd\u003eErrorMessage\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd\u003e12173\u003c/td\u003e\u003ctd\u003eUpload with hash [{hash}] already complete\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e",
            "schema": {
              "$ref": "#/definitions/ErrorEntity"
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "summary": "Commit Zsync File Upload v2",
        "tags": ["Uploader V2"],
        "x-errorCodes": {
          "12142": "Block with hash [{hash}] not found",
          "12173": "Upload with hash [{hash}] already complete"
        },
        "x-security": {
          "userPermissions": "ADMIN:NAMESPACE:{namespace}:BUILDINFO [UPDATE]"
        }
      }
    },
    "/buildinfo/admin/namespaces/{namespace}/v2/diff/commit/{sourceBuildId}/{destinationBuildId}": {
[...]
